/* стили для index.html */

/* Hero */
.hero-title {
  color: var(--primary-white-color);
}

/* Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.link.primary {
  color: var(--accent-color);
}

/* about us */
.about-us .title {
  color: var(--first-title-text-color);
}

/* Work section */
.work-list .title {
  color: var(--primary-white-color);
}

.our-team {
  background-color: var(--primary-white-color);
}

/* Footer section */
.bg-footer {
  background-color: var(--bg-color-footer);
}

.site-nav.contact {
  color: var(--primary-white-color);
}
/* стили для portfolio */
