/* цвет основного текста  #757575 */

/* вторичный цвет текста #212121 */

/* цвет лого #000000 */

/* белый #FFFFFF */

/* акцент #2196F3  */

/* вторичный цвет фона  #F5F4FA */

/*  */

ul {
  list-style: none;
}

/* Hero */
.hero-title {
  color: #000000;
}

.section-title {
  color: var(--first-title-text-color);
}

/* about us */
.about-us .title {
  color: var(--first-title-text-color);
}

/* Work section */

.work-list .title {
  color: var(--second-title-color);
}
