/* цвет основного текста  #757575 */

/* вторичный цвет текста #212121 */

/* цвет лого #000000 */

/* белый #FFFFFF */

/* акцент #2196F3  */

/* вторичный цвет фона  #F5F4FA */

/*  */

:root {
  --primary-text-color: #757575;
  --first-title-text-color: #212121;
  --accent-color: #2196f3;
  --second-title-color: #ffffff;
}

body {
  background-color: rgb(219, 214, 214);
  color: #757575;
}

ul {
  list-style: none;
}

.main-logo {
  color: #2196f3;
}

.second-logo {
  color: #000000;
}

/* site nav */

.site-nav .link {
  color: var(--first-title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: #000000;
}

.section-title {
  color: var(--first-title-text-color);
}

/* about us */
.about-us .title {
  color: var(--first-title-text-color);
}

/* Work section */

.work-list .title {
  color: var(--second-title-color);
}
